.custom-navbar-bg {
	background-color: #112B3C;
}

.jumbotron-custom {
	padding-top: 7rem;
	background-color: #EFEFEF;
}

.project-custom {
	background-color: #EFEFEF;
}

.btn-custom {
	background-color: #112B3C;
}

.footer-custom {
	background-color: #112B3C;
}

.pd-custom {
	padding-top: 5rem;
}